* {
  margin: 0;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 3vh;
}

body {
  display: flex;
}

h2, span {
  font-family: berry rotunda;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: darkblue;
  font-size: 2vw;
}

.sub-head {
  font-size: 1.3vw;
}

.side1, .side2 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

main {
  height: 100vh;
  width: 100vw;
  display: flex;
  background-image: url("assets/graveyard.jpeg");
  background-size: 100%;
  justify-content: space-evenly;
}

img {
  width: 10vw;
  height: 20vh;
}

h1{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.play-board-area{
  display: flex;
  width: 50%;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.tile {
  height: 15vh;
  width: 15vw;
}

.board {
  display: grid;
  grid-row: 33% 33% 33%;
  grid-template-columns: repeat(3, auto);
  width: 40vw;
  margin: 10px auto;
}

figure {
  border: 5px solid lightskyblue;
  height: 20vh;
  width: 30vw;
}

.player-1-side, .player-2-side {
  width: 25%;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

